# LaTeX archivos auxiliares
*.aux
*.log
*.synctex.gz
*.toc
*.lof
*.lot
*.out
*.upa
*.fdb_latexmk
*.fls
*.bbl
*.blg
*.nav
*.snm
*.vrb
*.idx
*.ilg
*.ind
*.bcf
*.run.xml

# Builds generados
*.pdf
*.html
*.epub
*.docx

# Archivos temporales
*.bak
*~
.DS_Store
